<div class="card">
  <div class="card-header ps-5 pt-4 pb-4">
    <h5 class="mb-0"><i class="fa-solid fa-comments me-3"></i>Historial de Consultas</h5>
  </div>
  <div class="card-body p-5">
    <!-- Información del Paciente -->
    <div class="mb-3" *ngIf="citaSeleccionada">
      <h6 class="patient-name">Historial del Paciente: {{ citaSeleccionada.nombrePaciente }}</h6>
    </div>

    <!-- Lista de Consultas -->
    <div *ngIf="citas.length > 0">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Código De Cita</th>
            <th>Nombre del Médico</th>
            <th>Estado de la Cita</th>
            <th>Fecha de la Cita</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let consulta of citas">
            <td>{{ consulta.codigo }}</td>
            <td>{{ consulta.nombreMedico }}</td>
            <td>{{ consulta.estadoCita }}</td>
            <td>{{ consulta.fecha }}</td>
            <td>
              <button class="btn btn-info btn-sm" (click)="verDetalleAtencion(consulta.codigo)">
                Ver Detalle
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Mensaje si no hay consultas en el historial -->
    <div *ngIf="citas.length === 0">
      <p>No hay consultas en el historial.</p>
    </div>
    <!-- Sección para mostrar el detalle de la atención -->
    <div *ngIf="detalleAtencion">
      <h5>Detalle de la Atención:</h5>
      <p><strong>Código De Atención:</strong> {{ detalleAtencion.codigo }}</p>
      <p><strong>Fecha de Atención:</strong> {{ detalleAtencion.fechaAtencion }}</p>
      <p><strong>Nombre del Paciente:</strong> {{ detalleAtencion.nombrePaciente }}</p>
      <p><strong>Nombre del Médico:</strong> {{ detalleAtencion.nombreMedico }}</p>
      <p><strong>Especialidad:</strong> {{ detalleAtencion.especialidad }}</p>
      <p><strong>Tratamiento:</strong> {{ detalleAtencion.tratamiento }}</p>
      <p><strong>Notas Medicas:</strong> {{ detalleAtencion.notasMedicas }}</p>
      <p><strong>Diagnóstico:</strong> {{ detalleAtencion.diagnostico}}</p>
      <p></p>
    </div>
    <app-alerta [alerta]="alerta"></app-alerta>
  </div>
</div>