<div>
    <h2>Bienvenido a la Aplicación de la Clínica</h2>
    <p>
      En nuestra aplicación, nos dedicamos a proporcionar servicios médicos de calidad y atención personalizada.
      Estamos comprometidos con la salud y el bienestar de nuestros pacientes.
    </p>
    <p>
      Explora las diversas funcionalidades que ofrecemos para facilitar la gestión de citas, el historial médico,
      la interacción con médicos y más. Nuestra prioridad es brindarte una experiencia de atención médica eficiente y efectiva.
    </p>
    <p>
      No dudes en utilizar las diferentes secciones de la aplicación para programar citas, revisar tu historial médico,
      gestionar médicos, y mucho más. Estamos aquí para ayudarte en tu viaje hacia una salud óptima.
    </p>
  </div>
  